canvas {
  width: 100%;
  height: calc(100vh - 5em);
  background: rgb(0, 212, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 65%,
    rgba(2, 0, 36, 1) 100%
  );
}

svg {
  width: 100%;
  height: calc(100vh - 5em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
