.throw-container {
  display: flex;
  flex-direction: column;
  width: 32em;
  height: 100%;
  border-right-width: 1px;
  background-color: white;
}

.throw-header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: darkgray;
  padding: 2rem;
}

.throw-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
